<!DOCTYPE html>
<html lang="pt" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>IFTeract</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/loginController.js"></script>
    <script src="js/service/usuarioService.js"></script>
    <script src="js/router/state.js"></script>
    <script src="js/config/valuesConfig.js"></script>



</head>
<body>
    <div>
        <div ng-controller="loginCtrl">
        <center>
            <div class="loginCadastrar" id="login">
          <h1>Login</h1>
          <input type="email" name="email" placeholder="email" ng-model="perfil.email"/>
          <input type="password" name="senha" placeholder="senha" ng-model="perfil.senha"/>
            <button type="button" ng-click="logar(perfil)">Login</button>
        </div>

        <div class="loginCadastrar" id="cadastrar">
            <h1>Cadastrar</h1>
            <input type="text" name="nomeCadastro" placeholder="Digite o seu nome" ng-model="usuario.nome"/>
            <input type="email" name="emailCadastro" placeholder="Digite o seu Email" ng-model="usuario.email"/>

            <h3 style="float:left;">Genero:</h3>

            <h3>Masculino</h3>
            <input type="radio" name="Genero" value="Masculino" ng-model="usuario.genero">

            <input type="radio" name="Genero" value="Feminino" ng-model="usuario.genero">

            <input type="checkbox" name="Publico" ng-model="usuario.publico">

            <input type="text" name="Profissao" ng-model="usuario.profissao">

            <input type="date" name="nascimento" ng-model="usuario.nascimento">

            <input type="password" name="senhaCadastro" ng-model="usuario.senha">

            <button name="cadastrar" type="button" ng-click="cadastrar()">Cadastrar</button>



        </div>

        </center>
    </div ui-view flex>


    </div>


</body>
</html>
