<!DOCTYPE html>
<html lang="pt-br">
	<head>
  	<meta charset="utf-8">
    <title>Login-IFTeract</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  
  <body>
    <center> 
		<div class="loginCadastrar" id="login">
      <h1>Login</h1>
      <input type="email" name="email" placeholder="email"/>
      <input type="password" name="senha" placeholder="senha"/>
   		<button type="button">Login</button>
    </div>
    
    <div class="loginCadastrar" id="cadastrar">
    	<h1>Cadastrar</h1>
      <input type="nomeCadastro" name="nomeCadastro" placeholder="Digite o seu nome"/>
      <input type="email" name="emailCadastro" placeholder="Digite o seu Email"/>
	
      <h3 style="float:left;">Genero:</h3>
      
      
      
      <!--
      <div id="esquerda">
      	
      </div>
      -->
    
    
    </div>
    
    </center>
  
  
  
  
  </body>
</html>