<body img src = "home.html""https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwilgvLfg-fXAhWLjpAKHeH4CC0QjRwIBw&url=https%3A%2F%2Fwall.alphacoders.com%2Ftags.php%3Ftid%3D2118%26lang%3DPortuguese&psig=AOvVaw3k0AW4UcSHI--KkFWyhpcW&ust=1512156410156076">
    <!--
    <h1><i><center>Bem Vindo ao IFTERACT</center></i><br></h1>

    <h3><center>PÁGINA EM DESENVOLVIMENTO</center></h3>
    <br>

    <p><center>Esta página ainda está em processo de desenvolvimento pelos alunos Paulo Juan Da Silva Santos e Lucas Dantas Araújo do IFPB - campus Campina Grande.</center></p>

    <br>
    -->
    
    <div class="col-sm-4">
        <h1>PARTE 1</h1>
    </div>
    <div class="col-sm-4">
        <h1>PARTE 2</h1>
    </div>
    <div class="col-sm-4">
        <h1>PARTE 3</h1>
    </div>
</body>