.loginCadastrar{
    margin-left: 20%;
    margin-right: 20%;
}


#cadastrar{
    background-color: aqua;
}

#cadastrar input{
    float:left;
    margin-bottom: 0%;


}

.NomeEmailC{
    width: 49%;
}

#cadastrar h3{
    float: left;
    margin-top:0%;
    margin-left: 1%;
    margin-bottom: 0%;
    margin-right: 1%;
    
}
#profissaoH{
    padding-left: %;
    
}
#NascimentoC{
    padding-top: 0%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}